
.title{
    font-size: 110px;
    text-align: center;
    margin: auto;
    font-family: "Lobster", "cursive";
    color: orange;
}
body{
    background-image: url("../img/background.png");
    background-attachment: fixed;
}
*{
    color: white;
    font-size: 30px;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#info{
    margin: 20px;
    background-color: tomato;
    border: 5px solid black;
    border-radius: 20px;
    font-family: "Alata", "sans-serif";
}
#footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: cadetblue;
    border-top: 5px solid black;
    text-align: center;
    color: yellow;
    font-family: 'Alata', sans-serif;
    font-size: 50px;
    font-weight: bold;
}
#status{
    color: tomato;
    font-size: 50px;
    font-weight: bold;
}